
/* logo */
.fa-rocket{ font-size: 50px;
            color: #27AE61;
            margin-right: 400px;}
.a-rocket-1{font-size: 20px;
             color: #27AE61;
             


}
.same-nav { font-size: 20px;
             color: #27AE61;
             margin-right: 50px;

}



.display-flex {display: flex;
               justify-content: space-between;
               align-items: center;
               vertical-align: middle;
}

.header-container {width:1203px;
                   margin: 0 auto;
                   max-width: 100%;
                   background-color: black;
                   height: 70px;

}

.ul-list {background: yellow;

}


#slider {
    width: 100%;
    height: 100vh;
    position: relative;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: #27AE61;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    border: none;
    font-size: 20px;
    z-index: 2;
}
.arrow-left {
    left: 80px
}
.arrow-right {
    right: 80px;
}
.arrow:hover {
    border: 1px solid black;
    background-size: 300% 100%;
}
.slider-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Berkshire Swash', cursive;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    color: #27AE61;
    background-color:black;
    padding: 40px 70px;
    border-radius: 80px;
    text-align: center;
}
.slider-title:hover {
    box-shadow: #27AE61;
}
.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
    opacity: 40%;
}
.dot.active {
    opacity: 100%;
    background: #27AE61;
}
.dots {
    display: flex;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    cursor: pointer;
}
.fade {
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @keyframes fade {
    from {opacity: 10%} 
    to {opacity: 1}
  }
.key {
    max-width: 70px;
    opacity: 50%;
    position: absolute;
    bottom: 50px;
    right: 70px;
    z-index: 109;
}


/* Accordion */
.title{
    max-width: 500px;
    width: 100%;
    margin: 20px auto 30px auto;
    color: #27AE61;
    text-align: center;
    font-size: 40px;
    font-weight: bold;

}

.accordion-div{
    max-width: 700px;
    width: 100%;
    margin: 30px auto;
    position: relative;
    background-color: black;
    border: #27AE61 solid;
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
    margin-right: 20px;
}
.accordion-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    font-size: 18px;
    height: 0;
    overflow: hidden;
    transition: 0.5s linear;
    color: aliceblue;
}

.accordion-div.active .accordion-text{
    height: 150px;
}
.accordion-div.active .accordion-title::before{
    font-family: FontAwesome;
    content: '\f106';
    font-size: 30px;
    font-weight: 900;
}

.accordion-title{
    position: relative;
    padding: 20px;
    font-size: 20px;
    color: #27AE61;
    font-weight: 900;
}
.accordion-div:hover{
    border: solid;
    border-color: #0b7037;
    box-shadow: 0px 2px 20px #27AE61;
}
.accordion-title::before{
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    color: #27AE61;
}

.accordion-body{
    margin-top: 50px;
}



@media(max-width:700px){
    .nav-block{
        display: none;
    }
    .burger-bar{
        display: block;
        margin-right: 30px;
    }
    .header-block{
        flex-direction: column;
    }
    .ul-block{
        flex-direction: column;
        align-items: flex-end;
        height: 150px;
        margin-top: 30px;
    }
    .li-block{
        margin-top: 20px;
        margin-right: 20px;
    }
    .nav-block.activeNavigation {
        display: block;
    }

    .burger-child.middle{
        display: none;
        
    }
    .burger-child.top{
        transform: rotate(-45deg) translate(-6px, 0px);
        transition: 0.5s linear;
    }
    .burger-child.bottom{
        transform: rotate(45deg) translate(-6px, 0px);
        transition: 0.5s linear;
    } 
}

/* about us photo */
.photodiv1 {margin: 50px 20px 50px 20px;

}
/* section color */
.blackbackground{background: black;

}


/* teachers */

body {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 60px;
    list-style: none;
}

li {
    opacity: 70%;
    text-align: center;
    background-color: #ffe54c;
    font-family: 'Baloo Bhai 2';
    text-transform: uppercase;
    font-size: 12px;
}

li:hover {
    opacity: 100%;
    background-color: #4c94ff;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


img {
    height: 150px;
    width: 180px;
    object-fit: cover;
}

.button {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#loadprev {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 13px 20px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(141, 255, 10, 0);
    margin-right: 30px;
}

#loadprev:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

#loadprev:hover::after {
    top: 0px;
    left: 0px;
}


#loadmore {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 13px 20px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(141, 255, 10, 0);
    margin-right: 50px;
}

#loadmore:after {
    content: "";
    background-color: #4c94ff;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

#loadmore:hover::after {
    top: 0px;
    left: 0px;
}
